# Entorno virtual
venv/
env/
ENV/

# Base de datos
*.sqlite3
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3-journal

# VS Code
.vscode/
*.code-workspace

# Windows
Thumbs.db
*.DS_Store

# Proyecto
.env
.coverage
htmlcov/